data/*
!data/*.b3sum
!data/*.sha256
results/
volumes/
ai4mi/
__pycache__/
result_folder/*
val/
stitched_data/
stitch.py
.venv/
__pycache__/
*.pt
!pretraining/pretrained_weights.pt
*.pkl
runs/
results/
data/
